# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/assembly-voters?appName=Cluster0

# Google Sheets
SPREADSHEET_ID=your_spreadsheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key\n-----END PRIVATE KEY-----\n"

# Auth
JWT_SECRET=your-secret-key
ADMIN_USERNAME=Assembly
ADMIN_PASSWORD=TamilNadu@2026

# Server
PORT=5000
FRONTEND_URL=http://localhost:3000
